node_modules
.next
out
build
dist
*.log
.env*.local
.DS_Store
prisma/dev.db
prisma/dev.db-journal
prisma/data/*.db
public/uploads/*
!public/uploads/.gitkeep
.git
.gitignore
.dockerignore
Dockerfile
docker-run.sh
*.md
.vscode
.idea
