SESSION_PASSWORD=change-me-to-a-32-char-secret-please-now
DATABASE_URL="file:./data/queseria.db"
ADMIN_EMAIL=admin@queseria.test
ADMIN_PASSWORD=admin1234
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NODE_ENV=development
