node_modules
.next
out
build
dist
*.log
.env
.env.local
.env*.local
.DS_Store
prisma/dev.db
prisma/dev.db-journal
prisma/data/*.db
prisma/data/*.db-journal
public/uploads/*
!public/uploads/.gitkeep
.env.docker
.vscode
.idea
*.swp
tsconfig.tsbuildinfo
coverage
.vitest-cache